body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  font-weight: 300;
}

#profile-btn {
  margin-right: 10px;
}

#items-btn {
  margin-right: 10px;
}

#container {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

.user-card {
  float: left;
  width: 250px;
  margin: auto;
}
.user-card-frame {
  border-radius: 25px;
  padding: 10px 0px;
  width: 230px;
  margin: 10px;
  background: #D3D3D3;
  color: #000000;
  text-align: center;
}

.center-text {
  text-align: center;
}
.not_current-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background: #FFFFE0;
  margin: 3rem;
  border-radius: 25px;
  padding: 1rem; */

}

.current-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background: #FFFFE0;
  margin: 3rem;
  border-radius: 25px;
padding: 1rem; */
}


.item-image {
  width: 230px;
  margin: auto;
}

.user-image {
  width: 230px;
  margin: auto;
}
