html, body {min-height: 100%;}
body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande',
    'sans-serif';
  font-weight: 300;
  background-image: url('./circle-clean-clear-220211.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

#profile-btn {
  margin-right: 10px;
}

#items-btn {
  margin-right: 10px;
}

#container {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

.user-card {
  width: 250px;
  opacity: 0.92;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    overflow: auto;
}
.user-card-frame {
  border: 5px solid #0c4f89;

  border-radius: 25px;
  padding: 10px 0px;
  width: 230px;
  margin: 10px;
  background: #eabc3c;
  opacity: 0.92;

  color: #000000;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    overflow: auto;
}

.item-card {
  width: 310px;
  margin: auto;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item-card-frame {
  border: 5px solid #0c4f89;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 25px;
  padding: 10px 0px;
  width: 300px;
  margin: 10px;
  background: #eabc3c;
  opacity: 0.92;
  text-align: center;
    overflow: auto;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    color: black;
    opacity: 1;

}

.center-text {
  text-align: center;
}
.not-current-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.current-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-image {
  width: 230px;
  margin: auto;
  border-radius: 10px;
  opacity: 1;

}

.user-image {
  width: 230px;
  margin: auto;
  border-radius: 10px;
  opacity: 1;
}

#userName {
  margin-left: 15px;
}

#login_btn {
margin-left: 21px;

}
.h1, h1 {
    font-size: 2.5rem;
    color: black;
    text-align: center;
}

.h3, h3 {
    font-size: 1.75rem;
    color: black;
    opacity: 0.92;
    filter: alpha(opacity=50);
}


ul {
    display: list-item;
    text-align: -webkit-match-parent;
    opacity: 0.5;
    filter: alpha(opacity=50);

}
li{
  color: black;
  opacity: 1;
}

#register_btn {
  margin-left: 15px;
}

#item-form {
  margin-left: 15px;
}

.login-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #0c4f89;
  opacity: 0.92;
  padding: 2rem 8rem;
  margin-left: 42.5%;
  margin-right: 50%;
  border-radius: 25px;
}

input[type=text] {
  border: 2px solid #eabc3c;
  border-radius: 4px;
  text-align: center;
}
