html, body {min-height: 100%;}
body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  font-weight: 300;

  background-image: url("https://us.123rf.com/450wm/monticello/monticello1708/monticello170800239/84490130-plastic-bottles-of-body-care-and-beauty-products-.jpg?ver=6");
  background-color: #cccccc;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

#profile-btn {
  margin-right: 10px;
}

#items-btn {
  margin-right: 10px;
}

#container {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

.user-card {
  float: left;
  width: 250px;
  margin: auto;
}
.user-card-frame {
  border-radius: 25px;
  padding: 10px 0px;
  width: 230px;
  margin: 10px;
  background: #D3D3D3;
  color: #000000;
  text-align: center;

}

.item-card {
  float: left;
  width: 250px;
  margin: auto;
}
.item-card-frame {
  border-radius: 25px;
  padding: 10px 0px;
  width: 230px;
  margin: 10px;
  background: #D3D3D3;
  color: #000000;
  text-align: center;
}
label {
    background: lightblue;
    display: inline-block;
    margin-bottom: .5rem;
    color: black;
    opacity: 1;
    
}

.center-text {
  text-align: center;
}
.not-current-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background: #FFFFE0;
  margin: 3rem;
  border-radius: 25px;
  padding: 1rem; */
}

.current-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background: #FFFFE0;
  margin: 3rem;
  border-radius: 25px;
padding: 1rem; */
}

.item-image {
  width: 230px;
  margin: auto;
}

.user-image {
  width: 230px;
  margin: auto;
}

#userName {
  margin-left: 15px;
}

#login_btn {
margin-left: 21px;

}
.h1, h1 {
    font-size: 2.5rem;
    color: white;
}

.h3, h3 {
    font-size: 1.75rem;
    color: black;
    background: lightblue;
    opacity: 0.5;
    filter: alpha(opacity=50);
}


ul {
    display: list-item;
    text-align: -webkit-match-parent;
    background: lightblue;
    opacity: 0.5;
    filter: alpha(opacity=50);

}
li{
  color: black;
  opacity: 1;
}

#register_btn {
  margin-left: 15px;
}

#item-form {
  margin-left: 15px;
}
